
{% extends 'base.html.twig' %}
{% block title %}Création d'événement!{% endblock %}

{% block body %}

<div class="main-content"><h1>Evénement créé</h1>
<br/><br/>
    <h2><a href="{{ link }}">{{ link }}</a></h2>
</div>
{% endblock %}